<div class="messages">
</div>
<main>
  <article>
    <div class="icon">
      <i class="wi"></i>
    </div>
    <h1></h1>
    <h2>Loading</h2>
    <h3></h3>
  </article>
</main>
<aside>
  <form id="location">
    <label class="hidden" for="location">Location:</label>
    <input id="location" type="text" placeholder="CHANGE LOCATION">
  </form>
  <form id="chat">
    <label class="hidden" for="input">Username:</label>
    <input type="text" id="input" autofocus placeholder="SET A USERNAME TO CHAT">
    <button>Save</button>
  </form>
  <div id="users">
    <img src="images/users.png" alt="">
    <p>?</p>
  </div>
</aside>
<section id="suggestions">
  <ul>
  </ul>
</section>
<section id="userlist">
  <h1>Users</h1>
  <ul>
  </ul>
</section>